# *Funciones*

##### *García Espinosa David Alexis Algoritmos C. 2019-2*

### *Función Hola mundo*

In [4]:
def hola():
    print("Hola Mundo")
    return

In [5]:
hola()

Hola Mundo

### *Función Suma niñoGauss hasta los n números*

In [25]:
def SumaNatu(n):
  s = 0
  for i in range(n+1):
   s = s + i
 
  print("La suma de tus numeros hasta")
  print(n)
  print("es:")
  print(s)

In [27]:
SumaNatu(100)

La suma de tus numeros hasta
100
es:
5050

### *Función Fibonacci arroja los n números de la serie que pidas*

In [37]:
def fibo(n):
    x,y = 0,1
    for i in range(n):
        print(x)
        x,y= y,x+y

In [38]:
fibo(3)

0
1
1

### *Función Fibonacci con opción de impresión en lista*

In [76]:
def fibo(n):
    x,y = 0,1
    for i in range(n):
        x,y= y,x+y
        tabulate(x)

In [77]:
fibo(3)

TypeError: 'int' object is not iterable

### *Función para imprimir impares contenido en un intervalo (0,n)*

In [44]:
def impares(n):
    i = 1
    while i <= n:
         print(i)
         i = (i*2)+1

In [46]:
impares(100)

1
3
7
15
31
63

### *Función Factorial devuelve el factorial de n*

In [47]:
def factorial(n):
    fac = 1
    if n <= 0:
        print("Factorial no definido en negativos y 0! = 1")
    else:
        while n != 0:
            fac = fac*n
            n = n-1
    print(fac)

In [49]:
factorial(7)

5040

### *Función para imprimir tus n números con while*

In [50]:
def impwh(n):
    i = 1
    while i <= n:
        print(i)
        i = i +1

In [51]:
impwh(10)

1
2
3
4
5
6
7
8
9
10

### *Función para Imprimir tablas de verdad AND-OR-NOT*

In [52]:
from tabulate import tabulate

In [57]:
def tablas(n):
    print("tablas AND:1,OR:2,NOT:3")
    A=[True,False]
    B=[True,False]
    tab = [['V','V'],['F','V'],['V','F'],['F','F']]
    tab2 = ['V','F']
    if n == 1:
        print(tabulate(tab))
        for i in range(2):
            for j in range(2):
                print(A[i] and B[j])
    else:
        if n == 2:
            print(tabulate(tab))
            for i in range(2):
                for j in range(2):
                    print(A[i] or B[j])
        else:
            if n == 3:
                print(tabulate(tab2))
                for i in range(2):
                    print(not A[i])
            else:
                print("NO has escogido una tabla")

In [54]:
tablas(1)

tablas AND:1,OR:2,NOT:3
-  -
V  V
F  V
V  F
F  F
-  -
True
False
False
False

In [55]:
tablas(2)

tablas AND:1,OR:2,NOT:3
-  -
V  V
F  V
V  F
F  F
-  -
True
True
True
False

In [58]:
tablas(3)

tablas AND:1,OR:2,NOT:3
-
V
F
-
False
True